<p-card styleClass="mx-2 border-1 border-300">
  <h4>User Name</h4>

  <div>
    <a href="#" class="flex align-items-center text-decoration-none">
      <i class="pi pi-user mr-2"></i>
      <h6>Personal Information</h6>
    </a>
  </div>

  <div>
    <a href="#" class="flex align-items-center text-decoration-none">
      <i class="pi pi-credit-card mr-2"></i>
      <h6>Payment</h6>
    </a>
  </div>

  <div>
    <a href="#" class="flex align-items-center text-decoration-none">
      <i class="pi pi-cog mr-2"></i>
      <h6>Setting</h6>
    </a>
  </div>
</p-card>
