<p-card header="{{ userName }}" styleClass="border-1 border-300 col-12">
  <div class="flex flex-column align-items-center mb-4">
    <p-avatar
      image="{{ userProfilePhoto }}"
      shape="circle"
      size="xlarge"
      alt="Image"
    ></p-avatar>
    <div class="flex flex-column align-items-center gap-2 mt-4">
      <p-button
        icon="pi pi-user"
        label="Personal Information"
        [rounded]="true"
        severity="secondary"
        class="p-button-text"
        routerLink="/personal-information"
        size="small"
      ></p-button>

      <p-button
        icon="pi pi-credit-card"
        label="Payment"
        [rounded]="true"
        severity="secondary"
        class="p-button-text"
        routerLink="/payment"
        size="small"
      ></p-button>
      <p-button
        icon="pi pi-cog"
        label="Settings"
        [rounded]="true"
        severity="secondary"
        routerLink="/settings"
        size="small"
      />
    </div>
  </div>
</p-card>
