<div *ngIf="formEditProfile">
  <p-card header="Profile Update" styleClass="border-1 border-300">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <div class="flex">
        <!-- Name Field -->
        <div class="field col-6">
          <label for="name">First Name</label>
          <input
            type="text"
            pInputText
            formControlName="name"
            class="w-full"
            name="name"
            placeholder="Type your name"
          />
          <small
            *ngIf="name.invalid && (name.dirty || name.touched)"
            class="block p-error"
          >
            <div *ngIf="name.errors?.['required']">Name is required</div>
            <div *ngIf="name.errors?.['minlength']">
              Name should be at least 3 characters long
            </div>
          </small>
        </div>
        <!-- Name Field -->
        <div class="field col-6">
          <label for="name">Last Name</label>
          <input
            type="text"
            pInputText
            formControlName="name"
            class="w-full"
            name="name"
            placeholder="Type your name"
          />
          <small
            *ngIf="name.invalid && (name.dirty || name.touched)"
            class="block p-error"
          >
            <div *ngIf="name.errors?.['required']">Name is required</div>
            <div *ngIf="name.errors?.['minlength']">
              Name should be at least 3 characters long
            </div>
          </small>
        </div>
      </div>

      <div class="flex">
        <!-- Email Field -->
        <div class="field col-6">
          <label for="email">Email</label>
          <input
            type="text"
            pInputText
            formControlName="email"
            class="w-full"
            name="email"
            placeholder="Type your email"
          />
          <small
            *ngIf="email.invalid && (email.dirty || email.touched)"
            class="block p-error"
          >
            <div *ngIf="email.errors?.['required']">Email is required</div>
            <div *ngIf="email.errors?.['email']">Email should be valid</div>
          </small>
        </div>

        <div class="field col-6">
          <div class="field">
            <label for="birthdate">Birthdate</label>
            <div>
              <p-calendar
                formControlName="birthdate"
                name="birthdate"
                class="w-full"
                [showIcon]="true"
                dateFormat="dd/mm/yy"
                placeholder="Select your birthdate"
              ></p-calendar>
            </div>
          </div>
        </div>
      </div>
      
      <!-- Address Field -->
      <div class="flex">
        <div class="field col-12">
          <label for="address">Address</label>
          <input
            type="text"
            pInputText
            formControlName="address"
            class="w-full"
            name="address"
            placeholder="Type your address"
          />
          <small
            *ngIf="address.invalid && (address.dirty || address.touched)"
            class="block p-error"
          >
            <div *ngIf="address.errors?.['required']">Address is required</div>
          </small>
        </div>
      </div>

      <p-button
        styleClass="w-full"
        label="Save Profile"
        [disabled]="userForm.invalid"
        type="submit"
      ></p-button>
    </form>
  </p-card>
</div>
