<p-card styleClass="w-15rem border-1 border-200">
  <ng-template pTemplate="header">
    <div class="w-full h-10rem overflow-hidden mb-2">
      <img alt="Product Image" [src]="product.imageUrl" class="w-full h-full" />
    </div>
  </ng-template>

  <h2
    class="my-0 surface-overlay white-space-nowrap overflow-hidden text-overflow-ellipsis"
  >
    {{ product.name }}
  </h2>
  <p
    class="my-0 surface-overlay white-space-nowrap overflow-hidden text-overflow-ellipsis"
  >
    {{ product.description }}
  </p>
  <h3 class="mt-2 mb-0">{{ product.price | currency : "USD" }}</h3>
</p-card>
