<p-card [style]="{ width: '360px' }" styleClass="border-1 border-200">
  <ng-template pTemplate="header">
    <div style="width: 95%; height: 300px; overflow: hidden; margin: 8px">
      <img
        alt="Product Image"
        [src]="product.imageUrl"
        style="width: 100%; height: 100%; object-fit: cover"
      />
    </div>
  </ng-template>

  <h2 class="my-0">{{ product.name }}</h2>
  <p class="my-0">{{ product.description }}</p>
  <h3 class="mt-2 mb-0">{{ product.price | currency : "USD" }}</h3>

  <ng-template pTemplate="footer">
    <div class="flex justify-content-end">
      <p-button
        label="Add"
        icon="pi pi-shopping-cart"
        class="w-full"
        (onClick)="addToCart(product)"
      ></p-button>
      <p-button
        label="Details"
        icon="pi pi-info-circle"
        class="w-full"
        (onClick)="viewDetails(product)"
      ></p-button>
    </div>
  </ng-template>
</p-card>
