<div class="border-1 border-round p-4 border-300">
  <div class="text-2xl font-bold text-center m-4">All Orders</div>
  <p-table
    [value]="filteredOrders"
    [paginator]="true"
    [rows]="10"
    [tableStyle]="{ 'min-width': '25rem' }"
    styleClass="p-datatable-sm"
  >
    <ng-template pTemplate="header">
      <tr>
        <th class="text-center">Id</th>
        <th>Date</th>
        <th>Customer</th>
        <th>Restaurant</th>
        <th class="text-center">Status</th>
        <th class="text-right">Total</th>
        <th class="text-center">Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-order let-rowIndex="rowIndex">
      <tr>
        <td class="text-center">{{ order.id }}</td>
        <td>{{ order.createdAt | date : "dd/MM/yyyy" }}</td>
        <td>{{ order.customerName }}</td>
        <td>{{ order.restaurantName }}</td>
        <td class="text-center">
          <span
            [ngClass]="getStatusSeverity(order.status)"
            class="inline-flex align-items-center justify-content-center text-700 px-3 py-1 border-round-lg text-xs"
          >
            <i [class]="getStatusIcon(order.status)">&nbsp;</i>
            {{ order.status | capitalize }}
          </span>
        </td>
        <td class="text-right">
          {{ order.total | currency : "USD" : "symbol" : "1.2-2" }}
        </td>
        <td class="text-center">
          <i
            class="pi pi-eye mx-2 hover:text-400 cursor-pointer"
            (click)="editOrder(order.id)"
          ></i>
          <i
            class="pi pi-pen-to-square mx-2 hover:text-400 cursor-pointer"
            (click)="editOrder(order.id)"
          ></i>
          <i
            class="pi pi-times mx-2 hover:text-400 cursor-pointer"
            (click)="removeOrder(order.id)"
          ></i>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
