<div class="border-1 border-200 border-round p-4">
  <p-card header="Create Order">
    <form [formGroup]="orderForm" (ngSubmit)="onSubmit()">
      <!-- Name Field -->
      <div class="field">
        <label for="name">Name</label>
        <input
          type="text"
          pInputText
          formControlName="name"
          class="w-full"
          name="name"
          placeholder="Type your name"
        />
        <small
          *ngIf="name.invalid && (name.dirty || name.touched)"
          class="block p-error"
        >
          <div *ngIf="name.errors?.['required']">Name is required</div>
          <div *ngIf="name.errors?.['minlength']">
            Name should be at least 3 characters long
          </div>
        </small>
      </div>

      <!-- Email Field -->
      <div class="field">
        <label for="email">Email</label>
        <input
          type="text"
          pInputText
          formControlName="email"
          class="w-full"
          name="email"
          placeholder="Type your email"
        />
        <small
          *ngIf="email.invalid && (email.dirty || email.touched)"
          class="block p-error"
        >
          <div *ngIf="email.errors?.['required']">Email is required</div>
          <div *ngIf="email.errors?.['email']">Email should be valid</div>
        </small>
      </div>

      <!-- Address Field -->
      <div class="field">
        <label for="address">Address</label>
        <input
          type="text"
          pInputText
          formControlName="address"
          class="w-full"
          name="address"
          placeholder="Type your address"
        />
        <small
          *ngIf="address.invalid && (address.dirty || address.touched)"
          class="block p-error"
        >
          <div *ngIf="address.errors?.['required']">Address is required</div>
        </small>
      </div>

      <!-- Quantity Field -->
      <div class="field">
        <label for="quantity">Quantity</label>
        <input
          type="number"
          pInputText
          formControlName="quantity"
          class="w-full"
          name="quantity"
          placeholder="Enter quantity"
        />
        <small
          *ngIf="quantity.invalid && (quantity.dirty || quantity.touched)"
          class="block p-error"
        >
          <div *ngIf="quantity.errors?.['required']">Quantity is required</div>
          <div *ngIf="quantity.errors?.['min']">
            Quantity must be at least 1
          </div>
        </small>
      </div>

      <div>
        <div class="flex gap-3 mt-1">
          <p-button
            label="Cancel"
            severity="secondary"
            class="w-full"
            styleClass="w-full"
          />
          <p-button
            label="Save"
            class="w-full"
            styleClass="w-full"
            [disabled]="orderForm.invalid"
            type="submit"
          />
        </div>
      </div>
    </form>
  </p-card>
</div>
