<app-layout>
  <div>
    <app-orders-table *ngIf="!isCreatingOrder"></app-orders-table>
    <app-order-create *ngIf="isCreatingOrder"></app-order-create>
  </div>
  <div>
    <div class="flex m-4 gap-2 justify-content-center align-content-center">
      <p-button
        label="Back to Orders List"
        (click)="toggleCreateOrder()"
        *ngIf="isCreatingOrder"
      />
      <p-button
        label="Create New Order Drop Down"
        (click)="toggleCreateOrder()"
        *ngIf="!isCreatingOrder"
      />
      <p-button label="Create New Order Table List" (click)="createOrder()" />
    </div>
  </div>
</app-layout>
