<app-layout>
  <div>
    <app-orders-table *ngIf="!isCreatingOrder"></app-orders-table>
    <app-orders-create *ngIf="isCreatingOrder"></app-orders-create>
  </div>
  <div>
    <div class="flex m-4 gap-2 justify-content-center align-content-center">
      <p-button
        label="Back to Orders List"
        (click)="toggleCreateOrder()"
        *ngIf="isCreatingOrder"
      />
      <p-button
        label="Create New Order"
        (click)="toggleCreateOrder()"
        *ngIf="!isCreatingOrder"
      />
      <p-button label="Create New Order List" [routerLink]="['/orders/create']">
      </p-button>
    </div>
  </div>
</app-layout>
