@import "primeicons/primeicons.css";
@import "primeng/resources/themes/lara-light-teal/theme.css";

html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 12px;
}
